name: zmuda-pro-blog-build
on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
  workflow_dispatch:
  pull_request:
    branches:
      - "main"
    paths:
      - "zmuda-pro/**"
      - "Dockerfile"
      - ".github/workflows/zmuda-pro.yaml"
jobs:
  build:
    permissions:
      contents: read
      security-events: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        if: ${{ startsWith(github.ref, 'refs/tags/')  }}
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Only Build
        if: ${{ ! startsWith(github.ref, 'refs/tags/')  }}
        uses: docker/build-push-action@v6
        with:
          platforms: "linux/amd64"
          push: false
      - name: Build and Push
        if: ${{ startsWith(github.ref, 'refs/tags/')  }}
        uses: docker/build-push-action@v6
        with:
          platforms: "linux/amd64"
          push: true
          tags: ${{ vars.DOCKERHUB_USERNAME }}/zmuda-pro-blog:${{ github.ref_name }},${{ vars.DOCKERHUB_USERNAME }}/zmuda-pro-blog:latest
